.side-bar
  .header
    %h3.header__name
      = current_user.name
    .header__list
      %ul<
        %li<
          = link_to new_group_path do
            = fa_icon 'edit', class: 'icon'
        %li<
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。

.chat
  .header
    .left-header
      .left-header__title test
      .left-header__member Member : Hatano Yamaguchi Fukui
    .right-header
      %a{href: "https://peopleinthebox.com/"}
        %p Edit
  .messages
    .upper-message
      .upper-message__name test
      .upper-message__date 1993/4/23 00:00
    .lower-message test
  .form
    %input.form__message{placeholder: "type a message", type: "text"}
      .form__image
        %label.upload-label{for: "upload-icon"}
          %i.fa.fa-image
          %input#upload-icon{type: "file"}
    %input{type: "submit", value: "Send"}
